<!--The content below is only a placeholder and can be replaced.-->
<!-- .app -->
<div class="app">
  <!-- .app-header -->
  <header class="app-header">
    <app-header></app-header><!-- your brand and navigations goes here -->
  </header>
  <!-- /.app-header -->

  <!-- .app-aside -->
  <aside class="app-aside">
    <app-aside></app-aside><!-- the app navigations goes here -->
  </aside>
  <!-- /.app-aside -->

  <!-- .app-main -->
  <main class="app-main">
    <!-- .wrapper -->
    <div class="wrapper">
      <app-page-content></app-page-content><!-- your awesome app content goes here -->
    </div>
    <!-- /.wrapper -->
  </main>
  <!-- /.app-main -->
</div>
<!-- /.app -->
